body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.dashboard {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.dashboard-title {
  font-size: 25px;
  color: #333;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dashboard-table-header {
  background-color: #007bff;
  color: #ffffff;
}

.dashboard-table-row {
  background-color: #f1f1f1;
}

.dashboard-table-cell {
  padding: 10px;
  border: 1px solid #ddd;
}

/* SignIn */
.signin {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px;
}

.signin-title {
  font-size: 25px;
  color: #007bff;
}

.signin-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signin-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signin-button:hover {
  background-color: #0056b3;
}

.signin-text {
  margin-top: 15px;
  color: #555;
}

.signin-link {
  color: #007bff;
  cursor: pointer;
}

.signin-link:hover {
  color: #0056b3;
}

.signup {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px;
}

.signup-title {
  font-size: 25px;
  color: #007bff;
}

.signup-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #0056b3;
}

.signup-error {
  color: red;
  margin-top: 10px;
}

.signup-link {
  color: #007bff;
  cursor: pointer;
  margin-top: 10px;
}

.signup-link:hover {
  color: #0056b3;
}