body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #ff007f, #0000ff);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.blurred-div {
  width: 60%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

h2 {
  font-family: 'Cinzel', serif;
  color: white;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.button.increase {
  background: linear-gradient(135deg, #00ff99, #009999);
}

.button.decrease {
  background: linear-gradient(135deg, #ff6600, #cc3300);
}

.button.clear {
  background: linear-gradient(135deg, #ff1a75, #cc0066);
}

.button:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

.button:active {
  transform: scale(0.95);
}